{% extends 'sitio/base.html' %}

{% block title %}Sobre Mí{% endblock %}

{% block breadcrumbs %}
    <li class="breadcrumb-item active" aria-current="page">Sobre Mí</li>
{% endblock %}

{% block content %}
<h1>Sobre Mí</h1>
<p>Mi objetivo profesional es desarrollar y perfeccionar mis habilidades en desarrollo de software,<br>
    enfocándome en desarrollo web, aplicaciones móviles, desarrollo multiplataforma.<br>
    Para contribuir con soluciones innovadoras y eficientes en un entorno tecnológico en constante evolución.</p>

    <section class="skills text-center mb-5">
        <h2>Habilidades</h2>
        <div class="row">
            <div class="col-md-4">
                <h4>Desarrollo Web</h4>
                <p>HTML, CSS, JavaScript, PHP, Laravel</p>
            </div>
            <div class="col-md-4">
                <h4>Base de Datos</h4>
                <p>MySQL</p>
            </div>
            <div class="col-md-4">
                <h4>Frameworks</h4>
                <p>Bootstrap, Vue.js, React</p>
            </div>
        </div>
    </section>

    <section class="education text-center mb-5">
        <h2>Educación</h2>
        <p><strong>T.S.U en Desarrollo de Software Multiplataforma</strong> - Universidad Tecnológica de Hermosillo - 2024</p>
    </section>
{% endblock %}
